# Convex Database & Backend
NEXT_PUBLIC_CONVEX_URL=https://moonlit-porcupine-488.convex.cloud
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BF5WDwgYQcoabL-UJguF1IW7EYkXkf8bxtfkmrJJcUY-8UnrK5KfEwnvMMvRrlWXOwmGapPM2ej7pA-sq6RiW-w

# Shopee Open Platform OpenAPI v2 Configuration
# Pilihan SHOPEE_ENV: 'sandbox' (untuk pengujian) atau 'production' (untuk toko live)
SHOPEE_ENV=sandbox
SHOPEE_PARTNER_ID=2004812
SHOPEE_PARTNER_KEY=shopee_test_partner_key_sample_2026
SHOPEE_SHOP_ID=918230114

# Webhook & Callback Override (Opsional, otomatis menggunakan host aplikasi jika dikosongkan)
# SHOPEE_WEBHOOK_URL=https://manage.karyalo.com/api/shopee/webhook
# SHOPEE_REDIRECT_URL=https://manage.karyalo.com/api/shopee/callback
